<div class="container">
  <div>
    <p>
      Subhive Subscription
    </p>
  </div>
  <div class="onboarding-container">
    <div class="intro-section">
      <h2>Hi, Jabari</h2>
      <p>Please introduce your Company to us.</p>
    </div>
    <div class="card-section">
      <p>Select your industry type to help us fine-tune your experience.</p>
      <div class="card-container">

        <div class="card">
          <div class="icon">
            <mat-icon color="white">cloud</mat-icon>
          </div>
          <div class="text">
            IT
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <mat-icon>cloud</mat-icon>
          </div>
          <div class="text">
            IT
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <mat-icon>cloud</mat-icon>
          </div>
          <div class="text">
            IT
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <mat-icon>cloud</mat-icon>
          </div>
          <div class="text">
            IT
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <mat-icon>cloud</mat-icon>
          </div>
          <div class="text">
            IT
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <mat-icon>cloud</mat-icon>
          </div>
          <div class="text">
            IT
          </div>
        </div>
      </div>
      <div>
        <p style="font-weight: bold;"> Can't find your industry, type ?</p>
        <form>
          <div>
            <input type="text" placeholder="Start typing to select from more options or input your own."
              class="industry-option" />
          </div>
          <input class="submit-btn" type="submit" value="Continue -->" />
        </form>
      </div>
    </div>
  </div>
</div>