.new-product-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-product-box {
  width: 400px;
  text-align: center;
}

.new-product-header {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0cm;
}

.new-product_desc {
  margin-bottom: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.customer-container {
  padding-top: 20px;
  
  margin-top: 30px;
}

.filter-section {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.search-form {
  min-width: 150px;
  max-width: 250px;
  width: 100%;
}

.search-full-width {
width: 100%;
}

.filter-text {
  font-size: 15px;
}

.filter-select {
  width: 130px;

}