<div class="new-product-container" *ngIf="!!!products.length">
  <div class="new-product-box">
    <h3 class="new-product-header">
      Add Products to get started!
    </h3>
    <p class="new-product_desc">
      A product refers to commodities or services you offer to customers. can be multiple services offered at the same time, they can have different plans and addons
    </p>
    <button class="new-btn" (click)="openDialog('0ms', '0ms')">
      Add Product
    </button>
  </div>
</div>
<div *ngIf="products.length">
  <div>
    <div class="header">
      <p class="dashboard-header-text">Products</p>
      <button class="new-btn"  (click)="openDialog('0ms', '0ms')">Add Product</button>
    </div>
    <div class="customer-container">
      <div class="filter-section">
        <form class="search-form">
          <mat-form-field class="search-full-width">
            <span matPrefix> </span>
            <input type="tel" matInput placeholder="Search" name="search">
            <button matSuffix mat-button><mat-icon>search</mat-icon></button>
          </mat-form-field>
        </form>
      </div>
      <div>
        <table mat-table [dataSource]="products" class="mat-elevation-z8">
  
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <ng-container matColumnDef="random">
            <th mat-header-cell *matHeaderCellDef> Random </th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>
        
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>