.new-product-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-product-box {
  width: 400px;
  text-align: center;
}

.new-product-header {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0cm;
}

.new-product_desc {
  margin-bottom: 50px;
}