.editor-name-section {
  padding: 25px;
  display: flex;
  justify-content: center;
}

.template-name-label {
  display: inline-block;
  font-size: 17px;
  padding: 5px;
  margin-right: 10px;
}

.template-name-input {
  padding: 5px;
  outline:  none;
  border: 1px solid lightgray;
  width: 300px;
}

.template-save-section {

}