<div class="new-product-container">
  <div class="np-form-container">
    <!-- <form (submit)="submitKeyIntegration()" [formGroup]="keyIntegrationForm">
      <div class="np-form-group">
        <div>
          <label>
            Public Key
          </label>
        </div>
        <div>
          <input type="text" formControlName="publicKey" />
        </div>
      </div>
      <div class="np-form-group">
        <div>
          <label>
            Private Key
          </label>
        </div>
        <div>
          <textarea formControlName="privateKey"></textarea>
        </div>
      </div>
      <div class="np-form-group">
        <div>
          <input type="submit" value="Integrate" />
        </div>
      </div>
    </form> -->

    <div>
      <p>Paste the following link in your paystack account</p>
      <h2 style="word-wrap: break-word;">{{webHookUrl}}{{(accountProfile$ | async)?.account?.id}}</h2>
      <h3>Instructions</h3>
      <ul>
        <li>Go to paystack dashboard</li>
        <li>Find setting > API/Webhook</li>
        <li>Paste the above URL in the webhook space.</li>
      </ul>
    </div>
  </div>
</div>