<div class="new-product-container">
  <div class="np-form-container">
    <form>
      <div class="np-form-group">
        <div>
          <label>
            Product Name
          </label>
        </div>
        <div>
          <input type="text" />
        </div>
      </div>
      <div class="np-form-group">
        <div>
          <label>
            Product Description
          </label>
        </div>
        <div>
          <textarea></textarea>
        </div>
      </div>
      <div class="np-form-group">
        <div>
          <input type="submit" />
        </div>
      </div>
    </form>
  </div>
</div>