<div class="new-product-container">
  <div class="np-form-container">
    <form  (submit)="submitProduct()" [formGroup]="productForm">
      <div class="np-form-group">
        <div>
          <label>
            Product Name
          </label>
        </div>
        <div>
          <input type="text" formControlName="name" />
        </div>
      </div>
      <div class="np-form-group">
        <div>
          <label>
            Product Description
          </label>
        </div>
        <div>
          <textarea formControlName="description"></textarea>
        </div>
      </div>
      <div class="np-form-group">
        <div>
          <input type="submit" value="Add"/>
        </div>
      </div>
    </form>
  </div>
</div>