<div>
  <div>
    <h2 class="retry-header">Retry Settings</h2>
  </div>
  <div>
    <p class="retry-instruction">Mera will attempt to charge your customers payment method again if payment fails. </p>
    <p class="retry-instruction">You can configure the retries and customise messaging content by clicking respective 'customise' link next to
      retry. </p>
  </div>
  <div>
    <form>
      <div class="on-box">
        <label class="on-label">On Payment Success</label>
        <select class="on-select">
          <option> send payment thank you along with reciept</option>
          <option> send payment thank you</option>
        </select>
        <span class="on-span"><a>Customise</a></span>
      </div>
      <div class="on-box">
        <label class="on-label">On Payment Failure</label>
        <select class="on-select">
          <option> send failure notification and retry</option>
          <option> send cancellation notification</option>
        </select>
        <span class="on-span"><a>Customise</a></span>
      </div>
      <div>
        <div class="retry-box">
          <div>
            <input type="checkbox" checked disabled />
            <label class="r-label">First Retry</label>
            <input class="days-input" type="number" />
            <span>days after previous attempt, if it fails </span>
            <select>
              <option> send failure notification and retry</option>
              <option> send cancellation notification</option>
            </select>
            <span class="on-span"><a>Customise</a></span>
          </div>
          <div>
            <input type="checkbox" checked />
            <label class="r-label">Second Retry</label>
            <input class="days-input" type="number" />
            <span>days after previous attempt, if it fails </span>
            <select>
              <option> send failure notification and retry</option>
              <option> send cancellation notification</option>
            </select>
            <span class="on-span"><a>Customise</a></span>
          </div>
          <div>
            <input type="checkbox" checked />
            <label class="r-label">Third Retry</label>
            <input class="days-input" type="number" />
            <span>days after previous attempt, if it fails </span>
            <select>
              <option> send failure notification and retry</option>
              <option> send cancellation notification</option>
            </select>
            <span class="on-span"><a>Customise</a></span>
          </div>

          <div>
            <label class="last-label">After all retries, send notification and mark as </label>
            <select>
              <option>Unpaid</option>
              <option>Pending</option>
              <option>Cancelled</option>
            </select>
          </div>
        </div>
        <div class="save-container">
          <input type="submit" class="new-btn" value="Save" />
        </div>
      </div>
    </form>
  </div>
</div>