/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input[type=submit] {
    cursor: pointer;
}

.container {
    padding: 25px;
}

.flex {
    display: flex;
}

.new-btn {
    cursor: pointer;
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    background-color: #0F172A;
  }

.dashboard-header-text {
    padding-top: 10px;
    font-size: 25px;
}

.auth-text-span {
    cursor: pointer;
    color: #167EE6;
  }