mat-toolbar {
  background: #004a9f;
  color: white;
}

// mat-sidenav {
//     width: 200px;
//     border-right: none;
//     background: #0F172A;
//     color: white;
//     border-radius: 10px;
//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//     padding: 16px;
//     text-align: center;
// }

mat-form-field{
  width: 200px;
}




.side-nav {
  border-right: none;
  background: #0F172A;
  color: white;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  // position: relative;
  height: 100%;
  width: 60px;
  text-align: center;
}

.side-nav-expand  {
  width: 200px;
  padding: 16px;
  @extend .side-nav;
}

.profile-image {
  background-position: center;
  background-size: 50px;
  border-radius: 30px;
  height: 30px;
  background-size: cover !important;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfmjwgWKFAkrKlMdjNbhuyA6YMrkxpJo1b-w&usqp=CAU");
  width: 30px;
}

.profile-image-expand {
  border-radius: 30px;
  height: 60px;
  width: 60px;
}

.profile-section {
  position: absolute;
  display: flex;
  height: 100px;
  
  bottom: 0;
  left: 0;
  padding: 10px;
}

.nav-group {
  margin-top: 60px;
}

.brand-title {
  font-size: 19px;
  padding-top: 19px;
  text-align: start;
}

.content {
  height: 100vh;
  border-radius: 10px;

  padding: 45px;
  padding-left: 55px;

  overflow: auto;
}

mat-sidenav-container {
  height: 100vh;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
      margin-right: 8px;
  }
}

.menu-buton-wrapper:hover {
  @extend .blue-background;
}

.blue-background {
  background-color: #004a9f;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 4px;
  font-weight: bold;

}

.profession-text {
  font-size: 10px;
  line-height: 0.3;
}

.profile-container {
  padding-left: 8px;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}