<div>
  <div class="header">
    <p class="dashboard-header-text">Add Plan</p>
  </div>
  <div class="new-plan-container">
    <form>
      <div class="p-form-group">
        <label>
          Plan Name
        </label>
        <input type="text" />
      </div>

      <div class="p-form-group">
        <label>
          Plan Code
        </label>
        <input type="text" />
      </div>

      <div class="p-form-group">
        <label>
          Price
        </label>
        <input type="number" />
      </div>

      <div class="p-form-group">
        <label>
          Billing Cycle
        </label>
        <div class="billing-section">
          <input class="billing-cycle" type="number" />
          <select>
            <option>Daily</option>
            <option>Weekly</option>
            <option>Monthly</option>
            <option>Yearly</option>
          </select>
        </div>
        
      </div>

      <div class="p-form-group">
        <label>
          Free Trial
        </label>
        <input type="text" />
      </div>

      <div class="p-form-group">
        <label>
          Account
        </label>
        <input type="text" />
      </div>
      <div class="p-form-group">
        <label>
          Description
        </label>
       <textarea></textarea>
      </div>
      <div class="p-form-group">
        <label>
          
        </label>
       <input type="submit" value="Add" />
      </div>
    </form>
  </div>
</div>